div.input-group {
	background: infobackground;
	padding:10px;
}


input.input-group {
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-bottom: 1px !important;
	margin-top: 1px !important;
	font-size: small;
}

#breadcrumbs {
	margin-bottom: 10px !important;
}


textarea.input-group {
	margin: 5px !important;
}

h3.input-group{
	margin-top:2px;
	margin-bottom:2px;
	font-size: 1.1em !important;
	height:30px;
	text-decoration: underline;
	line-height: 20px !important;
}

label.input-group{
	display: inline-table;
	width:25%;
	font-size: small !important;
}